{%- assign hrtraining = data.hrtraining %}
{%- if hrtraining and hrtraining.show %}
<section class="hrtraining" style="order: {{ hrtraining.order | default: 1 }}">
  <div class="section-title">
    <i class="section-icon fa-solid fa-user-plus"></i>
    <h2>{{ hrtraining.title }}</h2>
  </div>

  <div class="section-content">
    {%- if hrtraining.description.size > 0 %}
    <div class="description markdown">
      {{ hrtraining.description | markdownify }}
    </div>
    {%- endif %}

    {%- if hrtraining.items %}
    <div class="items">
      {%- for item in hrtraining.items %}
      <div class="item">

        {%- if item.name %}
        <div class="row">
          <div class="hrtraining-name">
            {%- if item.tags %}
            <small>[{{ item.tags }}]</small>
            {%- endif %}
          </div>

          {%- if item.date %}
          <div class="date">
            <span>{{ item.date }}</span>
          </div>
          {%- endif %}
        </div>

        {%- if item.description.size > 0 %}
        <div class="description markdown">
          {{ item.description | markdownify }}
        </div>
        {%- endif %}
        {%- endif %}

      </div>
      {%- endfor %}
    </div>
    {%- endif %}
  </div>
</section>
{%- endif %}
