{%- assign review = data.review %}
{%- if review and review.show %}
<section class="review" style="order: {{ review.order | default: 1 }}">
  <div class="section-title">
    <i class="section-icon fa-solid fa-file-circle-check"></i>
    <h2>{{ review.title }}</h2>
  </div>

  <div class="section-content">
    {%- if review.description.size > 0 %}
    <div class="description markdown">
      {{ review.description | markdownify }}
    </div>
    {%- endif %}

    {%- if review.items %}
    <div class="items">
      {%- for item in review.items %}
      <div class="item">
      
        {%- if item.title %}
        <div class="row">
          <div class="review-title">
            {%- if item.link %}
            <a href="{{ item.link }}">{{ item.title }}</a>
            {%- else %}
            <span>{{ item.title }}</span>
            {%- endif %}
          </div>
        </div>

        {%- if item.journal %}
        <div class="row">
          <div class="journal">
            <span>{{ item.journal }}</span>
          </div>
          <div class="date">
            <span>{{ item.date }}</span>
          </div>
        </div>
        {%- endif %}
        {%- endif %}
        {%- endif %}

      </div>
      {%- endfor %}
    </div>
    {%- endif %}
  </div>
</section>
{%- endif %}
