{%- assign review = data.review %}
{%- if review and review.show %}
<section class="review" style="order: {{ review.order | default: 1 }}">
  <div class="section-title">
    <i class="section-icon fa-solid fa-file-circle-check"></i>
    <h2>{{ review.title }}</h2>
  </div>

  <div class="section-content">
    {%- if review.description.size > 0 %}
    <div class="description markdown">
      {{ review.description | markdownify }}
    </div>
    {%- endif %}

    {%- if review.items %}
    <div class="items">
      {%- for item in review.items %}
      <div class="item">
        <span>{{ item.journal }}</span>
        {%- if item.number %}
        <small>[{{ item.number }}]</small>
        {%- endif %}
      </div>
      {%- endfor %}
    </div>
    {%- endif %}
  </div>
</section>
{%- endif %}
