{%- assign society = data.society %}
{%- if society and society.show %}
<section class="society" style="order: {{ society.order | default: 1 }}">
  <div class="section-title">
    <i class="section-icon fa-solid fa-earth-americas"></i>
    <h2>{{ society.title }}</h2>
  </div>

  <div class="section-content">
    {%- if society.description.size > 0 %}
    <div class="description markdown">
      {{ society.description | markdownify }}
    </div>
    {%- endif %}

    {%- if society.items %}
    <div class="items">
      {%- for item in society.items %}
      <div class="item">
        <span>{{ item.soc }}</span>
        {%- if item.type %}
        <small>[{{ item.type }}]</small>
        {%- endif %}
      </div>
      {%- endfor %}
    </div>
    {%- endif %}
  </div>
</section>
{%- endif %}
